<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="site-logo">
                    <a href="/">
                        <img src="img/white_logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Turing-Technologies, is an Algerian technology company specialized in the building and
                        distribution of smart technologies
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>38,coop des communaux, Jolie vue kouba, 16050</li>
                        <li>contact@turing-technologies.com</li>
                        <li>+213 669 217 030</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>

                        <li><a href="contact">Contact</a></li>
                        <li><a href="hiring">Hiring</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2022 - <a href="https://tipex-express.com/">Turing Technologies</a>,
                    All
                    Rights
                    Reserved.</p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/turingtechnologiess" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.facebook.com/turingtechnologies" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/turing_technologies_" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/91538363/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>