<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Turing-Technologies, is an Algerian technology company specialized in the buidling and
    distribution of high-quality,
    powerful and smart solutions, for the benefit of companies, businesses and individuals.
    Turing-Technologies helps her customers manage, grow, developed their business and ideas
    by
    turning
    thier problems and needs into real solution ">

    <!-- title -->
    <title>About</title>

    <!-- logo -->
    <link rel="shortcut icon" type="image/png" href="img/logo-turing.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <%- include('partials/nav_bar.ejs',) %>
        <!-- end header -->

        <!-- search area -->

        <!-- end search arewa -->

        <!-- breadcrumb-section -->
        <div class="breadcrumb-section breadcrumb-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">

                            <h1>About us</h1>
                            <p> Turing-Technologies, is an Algerian technology company specialized in the buidling and
                                distribution of high-quality,
                                powerful and smart solutions, for the benefit of companies, businesses and individuals.
                                Turing-Technologies helps her customers manage, grow, developed their business and ideas
                                by
                                turning
                                thier problems and needs into real solution
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb section -->
        <div class="col-lg-8 offset-lg-2 text-center" style="margin-top: 50px;">
            <div class="section-title">
                <h3>Why <span class="orange-text">Choose us ? </span> </h3>
                <p>There is no cost for the initial meetings. We believe to understand your view point is necessary as
                    it is
                    a crutial factor to understand your need. In light of this, planning is the central priority for our
                    business model, so consulting with each other is perfect in understanding your needs and provide you
                    with modern and powerfull solutions. </p>
            </div>
        </div>

        <!-- featured section -->
        <div class="list-section pt-80 pb-80" style="width: 100%;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="list-box  justify-content-start align-items-center">

                            <img src="icons/prix.svg" style="height: 90px" />

                            <div class="content">
                                <h3>Affordable Prices</h3>
                                <p>Our prices are fixed, competitive and fair, with no nasty surprises later. A reliable
                                    and
                                    fixed price is worthwhile for investing in your project. As far as we're concerned,
                                    we
                                    are heavily invested in the success of our client.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="list-box  align-items-center">
                            <img src="icons/qualiti.svg" style="height: 90px" />
                            <div class="content">
                                <h3>Quality</h3>
                                <p>We build and distribute high quality products from planification process up to the
                                    production of our products and those of our clients because we believe in
                                    professionalism as a basis of our mission
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="list-box  align-items-center">
                            <img src="icons/technological_solution.svg" style="height: 90px" />
                            <div class="content">
                                <h3>Technological Solutions</h3>
                                <p>We provide our clients by multiple technological solutions whether it's a (mobile
                                    app,
                                    web app or even ML model and server services) for individuals, businesses and
                                    companies
                                    in the differents fields of industry</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="list-box  align-items-center">
                            <img src="icons/customer_service.svg" style="height: 90px" />
                            <div class="content">
                                <h3>Customer Service</h3>
                                <p>We are transparent in our steps while dealing with our customer projects by our
                                    communication tips that will boost his trust
                                    We track all customer feedback, analyse recurring issues and make support
                                    improvments
                                    We make our customer feel valued by showing empathy
                                </p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        <!-- end featured section -->

        <!-- shop banner -->

        <!-- end shop banner -->

        <!-- team section -->
        <div class="mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="section-title">
                            <h3>Our <span class="orange-text">Mission</span></h3>
                            <p>Turing Technologies's FOUNDER,CEO & TEAM MEMBERS shares their mission with you </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end team section -->

            <!-- testimonail-section -->
            <div class="testimonail-section mt-80 mb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center">
                            <div class="testimonial-sliders">
                                <div class="single-testimonial-slider">
                                    <div class="client-avater">
                                        <img src="img/logo-turing.png" alt="">
                                    </div>
                                    <div class="client-meta">

                                        <p class="testimonial-body">
                                            " Our mission is to expend our customers reach and to enhancing their
                                            business
                                            growth with creative Design and Development to deliver market-defining
                                            high-quality solutions that create value and consistent competitive
                                            advantage
                                            for our clients "
                                        </p>
                                        <div class="last-icon">
                                            <i class="fas fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial-slider">
                                    <div class="client-avater">
                                        <img src="img/logo-turing.png" alt="">
                                    </div>
                                    <div class="client-meta">
                                        <p class="testimonial-body">
                                            "Our mission is to expend our customers reach and to enhancing their
                                            business
                                            growth with creative Design and Development to deliver market-defining
                                            high-quality solutions that create value and consistent competitive
                                            advantage
                                            for our clients "
                                        </p>
                                        <div class="last-icon">
                                            <i class="fas fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial-slider">
                                    <div class="client-avater">
                                        <img src="img/logo-turing.png" alt="">
                                    </div>
                                    <div class="client-meta">
                                        <p class="testimonial-body">
                                            " Our mission is to expend our customers reach and to enhancing their
                                            business
                                            growth with creative Design and Development to deliver market-defining
                                            high-quality solutions that create value and consistent competitive
                                            advantage
                                            for our clients "
                                        </p>
                                        <div class="last-icon">
                                            <i class="fas fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end testimonail-section -->

            <!-- logo carousel -->
            


            <%- include('partials/footer.ejs',) %>
            <script src="js/jquery-1.11.3.min.js"></script>
            <!-- bootstrap -->
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <!-- count down -->
            <script src="js/jquery.countdown.js"></script>
            <!-- isotope -->
            <script src="js/jquery.isotope-3.0.6.min.js"></script>
            <!-- waypoints -->
            <script src="js/waypoints.js"></script>
            <!-- owl carousel -->
            <script src="js/owl.carousel.min.js"></script>
            <!-- magnific popup -->
            <script src="js/jquery.magnific-popup.min.js"></script>
            <!-- mean menu -->
            <script src="js/jquery.meanmenu.min.js"></script>
            <!-- sticker js -->
            <script src="js/sticker.js"></script>
            <!-- main js -->
            <script src="js/main.js"></script>

</body>

</html>