<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Turing-Technologies DZ, is an Algerian technology company specialized in the buidling and
    distribution of high-quality,
    powerful and smart solutions, for the benefit of companies, businesses and individuals.
    Turing-Technologies helps her customers manage, grow, developed their business and ideas
    by
    turning
    thier problems and needs into real solution">


    <!-- title -->
    <title>Turing Technologies</title>

    <!-- logo -->
    <link rel="shortcut icon" type="image/png" href="img/logo-turing.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="css/all.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <%- include('partials/nav_bar.ejs',) %>
        <div class="hero-area hero-bg">
            <div class="container">
                <div class="col-lg-9 offset-lg-2 text-center">
                </div>
            </div>
        </div>
        <section class="cart-banner pt-100 pb-100">
            <div class="container">
                <div class="row clearfix">
                    <!--Image Column-->
                    <div class="image-column col-lg-6">
                        <div class="animation-element slide-left testimonia">
                            <div class="image">
                                <img src="img/code.jpg" alt="">
                            </div>
                        </div>

                    </div>
                    <!--Content Column-->
                    <div class="content-column col-lg-6">
                        <h3><span class="orange-text" style="background: -webkit-linear-gradient(#A77BF3, #98D8EE);
                            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">Turing Technologies</span> Buidling process</h3>

                        <div class="text">
                            <br></br>
                            - Analysing and defining the requirements for a better product<br></br>
                            - Designing the system architecture and choosing the best technologies , Designing the
                            product's
                            Ui & Ux <br></br>
                            - Defining the code structure & developing the product featuers<br></br>
                            - Our product goes into deep phase of testing to fit performance, security &
                            experience requirements
                            <br></br>
                            - Deploing or Releasing the product to be available to users<br></br>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="testimonail-section mt-150 mb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="section-title">
                            <h3>Our <span class="orange-text">Services</span> </h3>
                            <p>Turing technologies offers you series of powerfull services that adapt
                                seamlessly to your project requirements and business needs </p>
                        </div>
                    </div>
                    <div class="list-section pt-80 pb-80" style="width: 100%;">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-4 col-md-6">
                                    <div class="list-box  justify-content-start align-items-center">

                                        <img src="icons/07.svg" style="height: 90px" />

                                        <div class="content">
                                            <h3>Hosting, managing & scaling servers</h3>
                                            <p>We provide Fast Scalable & Reliable Secuerd web hosting, plus managed
                                                servers
                                                with smart assistance from our Technical Support experts and Operations
                                                teams</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <div class="list-box  align-items-center">
                                        <img src="icons/04.svg" style="height: 90px" />
                                        <div class="content">
                                            <h3>Mobile Application dev</h3>
                                            <p>We build, develop and deliver high-quality powerfull Native ( Ios -
                                                Android)
                                                & a
                                                cross-platform Mobile Application with creative and interactive UI-UX
                                                Designs </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <div class="list-box  align-items-center">
                                        <img src="icons/08.svg" style="height: 90px" />
                                        <div class="content">
                                            <h3>Web Application dev</h3>
                                            <p>Building scalable & powerful web apps using modern frameworks, structured
                                                architecture
                                                patterns, and powerfull UI/UX designs all for efficiency with
                                                cost-effectiveness</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="list-box  justify-content-start align-items-center">
                                        <img src="icons/03.svg" style="height: 90px" />
                                        <div class="content">
                                            <h3>We integrate,Build ML Models</h3>
                                            <p>We integrate Custom ML Models, and we even also build ML based on our
                                                customers needs all the from collecting, training, building, to testing,
                                                deploying, maintaining the model.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="list-box  justify-content-start align-items-center">
                                        <img src="icons/06.svg" style="height: 90px" />

                                        <div class="content">
                                            <h3>Managing & Scaling Databases</h3>
                                            <p>We handle setting up your databases, backing up, updating & scaling,
                                                so you won't need to deal with complexity of database administration</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="list-box  justify-content-start align-items-center">

                                        <img src="icons/02.svg" style="height: 90px" />

                                        <div class="content">
                                            <h3>Hardware solutions</h3>
                                            <p>we deliver end-to-end production, rapid product development, complex
                                                robotics integrations, full-scale automation, PCB design & assembly, and
                                                test engineering, all under one roof.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end testimonail-section -->

        <!-- advertisement section -->
        <div class="abt-section mb-150">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Explore <span class="orange-text" style="background: -webkit-linear-gradient(#A77BF3, #98D8EE);
                      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;	">our products</span> </h3>
                    <p>turing technologies has deliverd some many softwares,and helped a lot of business,build thier
                        ideas,Explore some of our works</p>
                </div>
            </div>


            <div class="container" style="margin-bottom: 30px">
                <div class="row">
                    <div class="image-column col-lg-6">
                        <div class="animation-element slide-left testimonia">
                            <div class="image">
                                <img src="img/e-sports.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="abt-text">
                            <h2 style="color: white">Explore <span class="orange-text">E-Sports</span></h2>
                            <p>It is an online platform (Web & Mobile) which allows sports clubs owners and coaches to
                                professionnaly manage and develop their work via E-Sport Platform. It also provides
                                access to global information and monthly entries, such as new candidates, sports,
                                products and sales and daily/monthly subscriptions, even expired ones, and so many other
                                functionalities.</p>

                        </div>
                    </div>
                </div>
            </div>


            <div class="abt-section mb-150">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3>Explore Customer : <span class="orange-text" style="background: -webkit-linear-gradient(#A77BF3, #98D8EE);
                          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;	">SARL Tipex Express</span> </h3>
                        <p style="color: white; font-weight:500;width:700px;letter-spacing: 1;font-size: 16px;"> ( SARL
                            Tipex Express : ) is a modern
                            delivery
                            service and online E-commerce store company,
                            enabling consumers to buy just about anything, and sellers to grow their revenues,
                        </p>
                        <p style="color: white; font-weight:500;width:700px;letter-spacing: 1;font-size: 16px;"">We've helped, accompanied , build our Customer system & products 
                             (Web application & mobile application versions & server services) all
                            thy way from (planing, Engineering,to Designing,developing and deploing) the software</p>
                    </div>
                </div>
                <div class=" animation-element slide-left testimonia">
                        <div class="container" style="margin-bottom: 30px">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <img src="img/tipex_express.png" alt="">
                                </div>
                                <div class="image-column col-lg-6">
                                    <div class="image">
                                        <img src="img/tipex_seller.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end advertisement section -->

                    <!-- shop banner -->
                    <!--<section class="shop-banner">
            <div class="container">
                <h3>Sign up now! <br> and get <span class="orange-text">Discount...</span></h3>
                <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>for the first 5 deliveries</span></div>
                <a href="" class="cart-btn btn-lg">Create Account</a>
            </div>
        </section>
        -->
                    <!-- end shop banner -->

                    <!-- latest news -->
                    <!-- <div class="latest-news pt-150 pb-150">
            <div class="container">
    
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="section-title">
                            <h3><span class="orange-text">Our</span> News</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                                beatae optio.</p>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-latest-news">
                            <a href="single-news.html">
                                <div class="latest-news-bg news-bg-1"></div>
                            </a>
                            <div class="news-text-box">
                                <h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
                                <p class="blog-meta">
                                    <span class="author"><i class="fas fa-user"></i> Admin</span>
                                    <span class="date"><i class="fas fa-calendar"></i> 27 December, 2022</span>
                                </p>
                                <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                                    Praesent vitae mattis nunc, egestas viverra eros.</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-latest-news">
                            <a href="single-news.html">
                                <div class="latest-news-bg news-bg-2"></div>
                            </a>
                            <div class="news-text-box">
                                <h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
                                <p class="blog-meta">
                                    <span class="author"><i class="fas fa-user"></i> Admin</span>
                                    <span class="date"><i class="fas fa-calendar"></i> 27 December, 2022</span>
                                </p>
                                <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                                    Praesent vitae mattis nunc, egestas viverra eros.</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                        <div class="single-latest-news">
                            <a href="single-news.html">
                                <div class="latest-news-bg news-bg-3"></div>
                            </a>
                            <div class="news-text-box">
                                <h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
                                <p class="blog-meta">
                                    <span class="author"><i class="fas fa-user"></i> Admin</span>
                                    <span class="date"><i class="fas fa-calendar"></i> 27 December, 2022</span>
                                </p>
                                <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                                    Praesent vitae mattis nunc, egestas viverra eros.</p>
    
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>-->
                    <!-- end latest news -->

                    <!-- logo carousel -->
                    <div class="logo-carousel-section">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <div class="section-title">
                                <h3>Some Our <span class="orange-text">Technology Stack</span> </h3>
                                <p>Turing Technologies uses modern and powerfull technologies,framworks,programing
                                    languages in buidling her products, and delivering her services
                                </p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="logo-carousel-inner">
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/c-lang.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/python.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/tensorFlow.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/pytorch.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/Java-Logo.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/go-lang.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/node.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/flutter.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/dart.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/mongoDB.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/redis.png" alt="">
                                        </div>
                                        <div class="single-logo-item">
                                            <img src="img/company-logos/mySQL.png" alt="">
                                        </div>

                                        <div class="single-logo-item">
                                            <img src="img/company-logos/docker.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end logo carousel -->

                    <!-- footer -->
                    <%- include('partials/footer.ejs',) %>

                        <script src="js/jquery-1.11.3.min.js"></script>

                        <script src="bootstrap/js/bootstrap.min.js"></script>

                        <script src="js/jquery.countdown.js"></script>

                        <script src="js/jquery.isotope-3.0.6.min.js"></script>

                        <script src="js/waypoints.js"></script>

                        <script src="js/owl.carousel.min.js"></script>

                        <script src="js/jquery.magnific-popup.min.js"></script>

                        <script src="js/jquery.meanmenu.min.js"></script>

                        <script src="js/sticker.js"></script>
                        <script src="js/observers.js"></script>
                        <script src="js/main.js"></script>

</body>

</html>